[submodule ".registry"]
	path = .registry
	url = https://github.com/pinasr/pinasr.r-universe.dev
	branch = HEAD
[submodule "ArchipelagoEngine"]
	path = ArchipelagoEngine
	url = https://github.com/pinasr/pinasr
	subdir = ArchipelagoEngine
[submodule "roroph"]
	path = roroph
	url = https://github.com/pinasr/pinasr
	subdir = roroph
