[submodule ".registry"]
	path = .registry
	url = https://github.com/pinasr/pinasr.r-universe.dev
	branch = HEAD
[submodule "ArchipelagoEngine"]
	path = ArchipelagoEngine
	url = https://github.com/pinasr/ArchipelagoEngine
[submodule "palettephines"]
	path = palettephines
	url = https://github.com/pinasr/palettephines
[submodule "roroph"]
	path = roroph
	url = https://github.com/pinasr/roroph
